@import '../css/style.css';

h1 {
    color: $primary-color;
    text-align: center;
}

span {
    color: $warn-color;
}

div {
    margin: 25px;
}

.actions {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}