@import 'style.scss';
h1 {
    // color: white;
    text-align: center;
    margin-bottom: 20px;
}

#addBtn {
    display: block;
    margin: 0 auto 20px auto;
    background-color: $primarna;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-details {
    width: 80%;
    margin: 0 auto;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);

        th {
            background-color: #34495e;
            color: white;
            padding: 12px;
        }

        td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
    }
}

.separator-line {
    height: 2px;
    background-color: #eee;
    margin: 40px 0;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #c0392b !important;
    }
}

.btn-add {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #27ae60 !important;
    }
}

.btn-edit {
    background-color: #236794;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #3498db !important;
    }
}

.hidden { display: none; }